<html>
  <body>
    <h1>Dojo Template</h1>
    <p>Minimal template for developing your app or game for Anki Dojo.</p>
    <div style="background: yellow">
      <h3>My Decks</h3>
      <ul id="decks">
      </ul>
    </div>
    <p><a href="https://github.com/mathewthe2/AnkiDojo" target="_blank">Go to the AnkiDojo repository</a> for full documentation.</p>
  </body>
  <script>
    fetch('http://localhost:5008/api/decks').then(function (response){
      return response.json();
    }).then(function (data) {
      console.log(data);
      list = document.getElementById("decks");
      data.forEach(item=>{
        var deck = document.createElement("li");
        deck.innerHTML = item;
        list.append(deck);
      });
    }).catch(function (err) {
      console.warn('Something went wrong.', err);
    });
  </script>
</html>